.posts-form {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
}

.posts-main {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
}

.post-main {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    margin-bottom: 0.5rem;
    white-space: pre-line;
}

textarea {
  resize: none;
  overflow: auto;
}
